/* CSS Variables */
:root {
    --primary-font: "Inter", sans-serif;
    --secondary-font: "Limelight", sans-serif;
    --primary-color: #36314e;
}

/* Global styles */
body {
    height: 100vh;
    background-color: #d5d6e8;
    /* Fallback for background-image */
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: var(--primary-font);
    font-weight: 500;
    color: var(--primary-color);
}

h1 {
    font-family: var(--secondary-font);
    text-transform: uppercase;
}

h2 {
    font-family: var(--secondary-font);
}

h6 {

    text-transform: uppercase;
    margin-bottom: 0;
}

p {

}

.custom-btn {
    height: 3rem;
    width: fit-content;
    background-color: #cae6ec;
    border-radius: 25px; 
box-shadow: 1px 1px 15px -4px rgba(83, 114, 120, 0.75);
-webkit-box-shadow: 1px 1px 15px -4px rgba(83, 114, 120, 0.75);
-moz-box-shadow: 1px 1px 15px -4px rgba(83, 114, 120, 0.75);
 color: #25373a;
 font-weight: 600;
 padding: 0px 20px; 
}

input {
    border: none;
    outline: none;
    box-shadow: none;
    background-color: white;
}

select:focus {
    border: none;
    outline: none;
}


/* Game container */

#game-container {
    width: 80%;
    height: 90%;

    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.38);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.3px);
    -webkit-backdrop-filter: blur(11.3px);
}


#letter {
    background-color: rgba(255, 255, 255, 0.862);
    text-align: center;
    height: 50px;
    width: 50px; 
    border-radius: 15px; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    text-transform: uppercase;
}

.letter p {
    margin-bottom: 0;
}

#userInput {
    height: 2.5rem;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.517);
    border: none;
    border-radius: 16px;
    font-size: 24px;
    text-transform: uppercase;
}



