/* CSS Variables */
:root {
    --primary-font: "Inter", sans-serif;
    --secondary-font: "Limelight", sans-serif;
    --primary-color: #36314e;
}

/* Global styles */
body {
    height: 100vh;
    background-color: #d5d6e8;
    /* Fallback for background-image */
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: var(--primary-font);
    font-weight: 500;
    color: var(--primary-color);
}

h1 {
    font-family: var(--secondary-font);
    text-transform: uppercase;
}

h4 {
    font-family: var(--secondary-font);
}



/* Game container */

#game-container {
    width: 80%;
    height: 90%;

    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.38);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.3px);
    -webkit-backdrop-filter: blur(11.3px);
}