/* CSS Variables */
:root {
    --primary-font: "Inter", sans-serif;
    --secondary-font: "Limelight", sans-serif;
    --primary-color: #36314e;
    --input-color: rgba(255, 255, 255, 0.517);
}

/* Global styles */
body {
    height: 100vh;
    background-color: #d5d6e8;
    /* Fallback for background-image */
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: var(--primary-font);
    font-weight: 500;
    color: var(--primary-color);
}

h1 {
    font-family: var(--secondary-font);
    text-transform: uppercase;
}

h2 {
    font-family: var(--secondary-font);
}

h6 {
    font-family: var(--secondary-font);
    font-size: 1.2rem; 
    margin-bottom: 0;
    text-transform: uppercase;
}

p {
    font-size: 0.9rem; 
}


.custom-btn {
    height: 3rem;
    width: fit-content;
    background-color: #cae6ec;
    border-radius: 25px; 
box-shadow: 1px 1px 15px -4px rgba(83, 114, 120, 0.75);
-webkit-box-shadow: 1px 1px 15px -4px rgba(83, 114, 120, 0.75);
-moz-box-shadow: 1px 1px 15px -4px rgba(83, 114, 120, 0.75);
 color: #25373a;
 font-weight: 600;
 padding: 0px 20px; 
}

.custom-btn:hover {
    background-color: #bdd8df;
}


.diff-btn {
       height: 2rem;
    width: fit-content;
    border: 2px solid #eaeacd;
    background-color: var(--input-color);
    border-radius: 25px; 
box-shadow: 1px 1px 15px -4px rgba(130, 130, 67, 0.505);
-webkit-box-shadow: 1px 1px 15px -4px rgba(130, 130, 67, 0.505);
-moz-box-shadow: 1px 1px 15px -4px rgba(130, 130, 67, 0.505);
 color: #25373a;
 font-size: 0.8rem;
 font-weight: 600;
 padding: 0px 12px;  
}

.diff-btn:hover {
    background-color: #e2e2ad;
}

.active-btn {
    background-color: #e2e2ad;
    border: 2px solid #e2e2ad;
}

input {
    border: none;
    outline: none;
    box-shadow: none;
    background-color: white;
}

select:focus {
    border: none;
    outline: none;
}


/* Game container */

#game-container {
    width: 90%;
    height: 90%;

    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.38);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.3px);
    -webkit-backdrop-filter: blur(11.3px);
}


#letter {
    background-color: rgba(255, 255, 255, 0.657);
    text-align: center;
    height: 40px;
    width: 40px; 
    border-radius: 15px; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    text-transform: uppercase;
}

.letter p {
    margin-bottom: 0;
}

#user-input {
    height: 2.5rem;
    width: 100%;
    background-color: var(--input-color);
    border: none;
    border-radius: 16px;
    font-size: 24px;
    text-transform: uppercase;
}

#typing-input {
    opacity: 0;
    z-index: -999;
    position: absolute; 

}

#game-info {
    width: 100%;
}

/* MODAL */ 

.custom-btn-modal{
    height: 2rem;
    width: fit-content;
    background-color: #cae6ec;
    border-radius: 25px; 
box-shadow: 1px 1px 15px -4px rgba(83, 114, 120, 0.75);
-webkit-box-shadow: 1px 1px 15px -4px rgba(83, 114, 120, 0.75);
-moz-box-shadow: 1px 1px 15px -4px rgba(83, 114, 120, 0.75);
 color: #25373a;
 font-size: 0.8rem;
 font-weight: 600;
 padding: 0px 20px; 
}

.custom-btn-modal:hover {
    background-color: #bdd8df;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  top: 0;
  left: 0;
  z-index: 1; /* Sit on top */
  width: 100%; 
  height: 100%; 
  background-color: rgba(206, 229, 230, 0.384);         
}

/* container for close-button */
#modal-header {
    padding-top: 1px; 
    padding-right: 11px;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  top: 0;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Modal Content/Box */
#modal-content {
  background-color: #fefefe;
  margin: 80% auto; 
  padding-bottom: 20px; 
  border-radius: 16px;
  height: 30%;
  width: 80%;
}




/* Media query: Large phones (420px and up) */
@media screen and (min-width: 420px) {
    /* Letter-box */ 
    #letter {
    height: 50px;
    width: 50px; 
    }

    /* Modal */
#modal-content {
    max-height: 400px;
      max-width: 400px;
}
.custom-btn-modal {
        height: 3rem;
        font-size: 1rem; 

}
}

    
}

/* Media query: tablet and larger (768px and up) */
@media screen and (min-width: 768px) {
    /* Global styles */
    p {
        font-size: 1rem;
    }

    /* Game container */
    #game-container {
        width: 60%;
        height: 70%;
    }

    /* Name input */
    #user-input {
        width: 50%;
    }

    /* Difficulty buttons */
    .diff-btn {
       height: 2.3rem;
    width: fit-content;
 font-size: 1rem;
 padding: 0px 20px;  
}

}


/* Media query: laptop and larger (992px and up) */
@media screen and (min-width: 992px) {
    #lg-dev-container {
        margin-top: 15px; 
        width: 100%; 
        display: flex;
        justify-content: space-between;
    }
    .lg-dev {
        display: flex;
        flex-direction: column; 
        width: 33%;
    }

}


